@import '~ynnub/mixins/block';
@import '~ynnub/mixins/typography';

$connection-state-background: rgba(247, 25, 0, 0.8) !default;
$connection-state-color: #fff !default;
$connection-state-text-shadow: #111 0 1px 1px !default;

.alp-connection-state {
  background: $connection-state-background;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  color: $connection-state-color;
  text-shadow: $connection-state-text-shadow;
  @include bold();
  @include z-depth-1();
  z-index: 9;

  > div {
    background: $connection-state-background;
    position: fixed;
    width: 200px;
    height: 22px;
    line-height: 22px;
    // top: 50%;
    top: 2px;
    left: 50%;
    // overflow: hidden;
    // margin-top: -25px;
    margin-left: -100px;
    text-align: center;

    border-radius: 0 0 5px 5px;
  }
}
